.react-dat-gui .cr.boolean {
  position: relative;
  border-left: $border-left-size solid $boolean-color;

  label {
    cursor: pointer;
  }

  .label-text {
    display: block;
    padding: 5px 0;

  }

  input[type=checkbox] {
    margin: 0;
  }
}
