.react-dat-gui .cr.button {
  border-left: $border-left-size solid $button-color;

  &:hover {
    background: #111;
  }

  .label-text {
    display: block;
    width: 100%;
    padding: 6px 2px 6px 8px;
    cursor: pointer;
  }
}
