.react-dat-gui .cr.number {
  border-left: $border-left-size solid $number-color;

  input[type=text], input[type=number] {
    color: $number-color;
  }

  .slider {
    display: block;
    position: relative;
    border: 3px solid $background-color;
    border-right-width: 1px;
    background-color: $input-color;
    background-image: linear-gradient(90deg, $number-color, $number-color);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    cursor: ew-resize;

    &:before {
      content: '\A0';
      display: block;
      padding: 2px;
    }
  }
}
