@charset "UTF-8";

/*html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/

/**
* @see https://workshop.chromeexperiments.com/css/examples.css
*/

html {
  font-size: 100%;
  color-profile: sRGB;
  rendering-intent: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font: 14px/22px Arial, sans-serif;
}

html, body, #root, main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 !important;
}

main {
    padding: 20px;
}

h1, h2, h3 {
  font-family: "Terminal Dosis", sans-serif;
  font-weight: 500; }

h1 {
  font-size: 24px;
  margin-top: 0px; }

h2 {
  font-size: 20px;
  margin-top: 12px; }

h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.055em; }

h5 {
  font-size: 14px;
  margin-bottom: 14px; }

body {
  background-color: #f3eee8;
  color: #53504d;
  margin: 20px; }

a {
  color: #389fd4; }

pre {
  font: 12px/18px "Monaco", monospace; }

code {
  font: 13px/18px "Monaco", monospace; }

pre {
  background-color: #ebe5dd;
  padding: 10px;
  /*
    &.rag-bottom:after,
    &.rag:after {
      @include rag_cap;
      background: url(/img/rag-bottom.gif);
      margin-top: $pre-padding;
      margin-bottom: -$pre-padding;
    }

    &.rag-top:before,
    &.rag:before {
      @include rag_cap;
      background: url(/img/rag-top.gif);
      margin-top: -$pre-padding;
      margin-bottom: $pre-padding;
    }*/ }
  pre span.hr {
    display: inline-block;
    font-style: italic;
    background-color: #ebe5dd;
    box-shadow: 0 0 4px #ebe5dd;
    padding: 0 10px;
    position: absolute; }
  pre hr {
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 9px;
    background: url(/img/rag.gif); }
    pre hr.under {
      margin-top: -15px;
      margin-bottom: 18px; }

article {
  border-bottom: 1px solid #ebe5dd; }

.str {
  color: #5a7335; }

/* string content */
.kwd {
  color: #357c8b; }

/* a keyword */
.com, .nocode {
  color: #97938d; }

/* a comment */
.typ {
  color: #aa8400; }

/* a type name */
.lit {
  color: #357c8b; }

/* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo {
  color: #97938d; }

.tag {
  color: #97938d; }

/* a markup tag name */
.atn {
  color: #97938d; }

/* a markup attribute name */
.atv {
  color: #97938d; }

/* a markup attribute value */
div.tailbone-widget {
  margin-bottom: 40px; }
  div.tailbone-widget h1 {
    margin: 0;
    font-size: 60px;
    height: 72px;
    line-height: 80px;
    font-weight: bold; }
    div.tailbone-widget h1 a {
      display: block;
      padding-left: 80px;
      background: url(/img/tailbone.gif) 0 center no-repeat; }
      div.tailbone-widget h1 a:hover {
        color: #333; }
  div.tailbone-widget p {
    margin: 6px 0 0 92px;
    font-size: 12px;
    line-height: 20px; }
  div.tailbone-widget ul {
    margin: 6px 0 0 92px;
    padding: 0;
    font-size: 12px;
    line-height: 20px; }
    div.tailbone-widget ul li {
      display: inline-block;
      list-style: none;
      vertical-align: top; }
      div.tailbone-widget ul li:not(:first-child) {
        margin: 0 0 0 6px; }
        div.tailbone-widget ul li:not(:first-child):before {
          font-size: 12px;
          color: #C5BFB9;
          margin-right: 6px;
          content: "•"; }
      div.tailbone-widget ul li a {
        font-family: 'Terminal Dosis';
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px; }
        div.tailbone-widget ul li a:hover {
          color: #333;
          border-bottom: 1px solid #c5bfb9; }
  div.tailbone-widget a {
    color: #53504D;
    text-decoration: none; }

.nav {
  border-top: 1px solid #ebe5dd;
  padding: 14px 0;
  margin-top: 20px;
  font-size: 12px; }
  .nav a {
    font-weight: bold; }
    .nav a:hover {
      text-decoration: none; }
  .nav .prev:before {
    content: '\00ab\00a0';
    font-weight: normal; }
  .nav .next {
    float: right; }
    .nav .next:after {
      content: '\00a0\00bb';
      font-weight: normal; }

div.content {
  width: 600px;
  margin: 20px 20px 50px 20px; }

#downloads {
  position: fixed;
  right: 30px;
  bottom: 30px; }
  #downloads ul {
    padding: 0;
    margin: 0; }
  #downloads li {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    text-align: right; }
    #downloads li.dot-js a:before, #downloads li.min-dot-js a:before {
      content: '\2193';
      display: block;
      margin-top: -2px; }
    #downloads li.source a:before {
      content: '{';
      margin-left: 2px; }
    #downloads li a {
      font-family: "Terminal Dosis", sans-serif;
      display: inline-block;
      margin: 0;
      padding: 10px;
      font-size: 12px;
      line-height: 10px;
      width: 150px;
      letter-spacing: 2px;
      color: #53504d;
      text-decoration: none;
      font-weight: 300;
      text-transform: uppercase;
      border-bottom: 1px solid #ebe5dd;
      background: #f3eee8;
      float: right; }
      #downloads li a:before {
        color: #c5bfb9;
        font-weight: 500;
        font-size: 14px;
        float: left; }
      #downloads li a:hover:before {
        color: #53504d; }

#save-icon {
  display: inline-block;
  margin-bottom: -4px;
  border-radius: 2px;
  font-size: 9px;
  padding: 4px 4px 5px 4px;
  background: #c5bdad;
  color: #fff;
  text-shadow: 0 1px 0 #b0a58f;
  box-shadow: 0 -1px 0 #b0a58f;
  background: #c5bdad url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNpiYKAU/P//PwGIC/ApCABiBSAW+I8AClAcgKxQ4T9hoMAEUrxx2QSGN6+egDX+/vWT4e7N82AMYoPAx/evwWoYoSYbACX2s7KxCxzcsezDh3evFoDEBYTEEqycggWAzA9AuUSQQgeYPa9fPv6/YWm/Acx5IPb7ty/fw+QZblw67vDs8R0YHyQhgObx+yAJkBqmG5dPPDh1aPOGR/eugW0G4vlIoTIfyFcA+QekhhHJhPdQxbiAIguMBTQZrPD7108M6roWYDFQiIAAv6Aow/1bFwXgis+f2LUAynwoIaNcz8XNx3Dl7MEJUDGQpx9gtQ8YCueB+D26OECAAQDadt7e46D42QAAAABJRU5ErkJggg==) 2px 1px no-repeat;
  height: 7px;
  width: 8px; }
