$background-color: #1a1a1a;

$hover-lighten: 5%;
$border-lighten: 5%;
$active-lighten: 10%;

$number-color: #2FA1D6;
$boolean-color: #806787;
$string-color: #1ed36f;
$button-color: #e61d5f;
$save-row-color: #dad5cb;

$button-color: darken($save-row-color, 10%);
$border-color: lighten($background-color, $border-lighten);
$input-color: lighten($background-color, 8.5%);

$border-left-size: 5px;

.react-dat-gui {
    position: fixed;
    right: 16px;
    top: 0;
    width: 280px;
    font-size: 12px;
    font-family: 'Lucida Grande', sans-serif;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .dg {
        margin: 0;
        padding: 0;
        color: #eee;
        overflow: auto;

        &.main {
            background: $border-color;

            &::-webkit-scrollbar {
                width: 5px;
                background: $background-color;
            }

            &::-webkit-scrollbar-corner {
                height: 0;
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: lighten($background-color, 30%);
            }
        }
    }

    .cr {
        display: block;
        background-color: $background-color;
        user-select: none;

        &:not(:last-child) {
            margin-bottom: 1px;
        }

        &.number {
            border-left: $border-left-size solid $number-color;
            
            input[type=text] {
                color: $number-color;
            }
            
            .slider {
                display: block;
                position: relative;
                border: 3px solid $background-color;
                border-right-width: 1px;
                background-color: $input-color;
                background-image: linear-gradient(90deg, $number-color, $number-color);
                background-size: 0% 100%;
                background-repeat: no-repeat;
                cursor: ew-resize;

                &:before {
                    content: '\A0';
                    display: block;
                    padding: 2px;
                }
            }
        }

        &.string {
            border-left: $border-left-size solid $string-color;

            input[type=text] {
                color: $string-color;
            }
        }

        &.boolean {
            position: relative;
            border-left: $border-left-size solid $boolean-color;

            .label-text {
                display: block;
                padding: 5px 0;
                width: calc(100% - 2em);
            }

            .checkbox,
            input[type=checkbox] {
                position: absolute;
                top: 2px;
                right: 2px;
                bottom: 2px;
                width: 2em;
            }

            .checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 3px solid $background-color;
                background: $input-color;
                z-index: 0;

                > .checkmark {
                    display: none;
                    width: 0.7em;
                    height: 0.7em;
                    stroke-width: 7px;
                    stroke: lighten($boolean-color, 20%);
                }
            }

            input[type=checkbox] {
                height: calc(100% - 4px);
                margin: 0;
                opacity: 0;
                z-index: 1;
            }

            input[type=checkbox]:hover ~ .checkbox {
                background-color: lighten($input-color, $hover-lighten);
            }

            input[type=checkbox]:checked ~ .checkbox {
                 > .checkmark {
                    display: block;
                 }
            }
        }

        &.button {
            border-left: $border-left-size solid $button-color;

            &:hover {
                background: #111;
            }

            .label-text {
                display: block;
                width: 100%;
                padding: 7px 2px 7px 8px;
                cursor: pointer;
            }
        }

        label {
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            width: 100%;
            padding: 2px 2px 2px 8px;
        }

        .label-text {
            width: 40%;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: none;
        }

        input[type=text] {
            background: $input-color;
            border: 3px solid $background-color;
            border-radius: 0;
            padding: 2px 5px;
            margin: 0;
            outline: none;
            font-size: inherit;

            &:hover {
                background: lighten($input-color, $hover-lighten);
            }

            &:focus {
                background: lighten($input-color, $active-lighten);
                color: #fff;
            }

            &::-ms-clear {
                display: none;
            }
        }
    }
}
